// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

$desktop-wide        : new-breakpoint(min-width 1370px, 12);
$desktop             : new-breakpoint(min-width 1001px, 12);
$desktop-narrow      : new-breakpoint(max-width 1000px, 12);
$desktop-narrow-only : new-breakpoint(min-width 769px max-width 1000px, 12);
$tablet              : new-breakpoint(max-width 768px, 6);
$tablet-only         : new-breakpoint(min-width 640px max-width 768px, 6);
$phone-wide          : new-breakpoint(max-width 639px, 6);
$phone-wide-only     : new-breakpoint(min-width 480px max-width 639px, 6);
$phone               : new-breakpoint(max-width 479px, 4);
$not-phone           : new-breakpoint(min-width 480px);
$netbook-11          : new-breakpoint(max-height 600px);
$netbook-13          : new-breakpoint(max-height 790px);
$ratio-small         : new-breakpoint(min-width 1670px max-height 639px);
